---
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Web Content Accessibility Guidelines 3.0";
---

<BaseLayout>
  <head>
		<meta charset="utf-8"/>
		<title>{title}</title>
	</head>
	<body>
		<h1>{title}</h1>
		<ul>
      <li><a href="guidelines/">Guidelines</a></li>
		</ul>
	</body>
</BaseLayout>
